#imagen {
  text-align: center;
  height: 50%;
  width: 50%;
  display: none;
}
.botones {
  text-align: center;
  background-color: lightpink;

}
h1{
  text-align: center;
  background-color: lightcoral;
}